

/*Large devices*/
@media (max-width: 1199.98px) { ... }

/*Medium devices*/
@media (max-width: 991.98px) { 
.navbar-toggler i{
        color: #fff;
        font-size: 30px;
    }
    .navbar-nav {
	text-align: center;
	padding: 10px 0;
	background: #6610f2;
}
     .navbar-expand-lg .navbar-nav .nav-link {
	padding-bottom: 5px;
	
}
    .story-text h3 {
	padding-top: 20px;
}
    .client-form button {
	display: block;
}
    form {
	padding-bottom: 25px;
}
    .fooder p {
	text-align: center;
}
    
}


/*Small devices*/
@media (max-width: 767.98px) { 
.navbar-toggler i{
        color: #fff;
        font-size: 30px;
    }
    .navbar-nav {
	text-align: center;
	padding: 10px 0;
	background: #6610f2;
}
     .navbar-expand-lg .navbar-nav .nav-link {
	padding-bottom: 5px;
	
}
    .story-text h3 {
	padding-top: 20px;
}
    .work-button button {
	padding: 5px 8px;
	margin: 0 3px;
	font-size: 13px;
}
    .client-form h3 {
	padding-top: 20px;
}
    .fooder p {
	text-align: center;
}
    
}

/*Extra small devices*/
@media (max-width: 575.98px) { 

    .navbar-toggler i{
        color: #fff;
        font-size: 30px;
    }
    .navbar-nav {
	text-align: center;
	padding: 10px 0;
	background: #6610f2;
}
     .navbar-expand-lg .navbar-nav .nav-link {
	padding-bottom: 5px;
	
}
    #banner {
	padding-top: 180px;
	padding-bottom: 100px;
}
    
    .banner-text h3 {
	font-size: 18px;
}
    .banner-text h3::after {
	top: 40px;
}
    .story-text h3 {
	padding-top: 20px;
}
    .video-overly {
	padding-top: 100px;
	padding-bottom: 100px;
}
    .service-text p {
	font-size: 11px;
}
    .service-text h3 {
	font-size: 20px;
}
    .team-text h3 {
	font-size: 20px;
}
    .team-text p {
	font-size: 11px;
}
    .work-text p {
	font-size: 11px;
}
    .work-text h3 {
	font-size: 20px;
}
    .work-button button {
	padding: 5px 8px;
	margin: 5px 5px;
	font-size: 13px;
}
    .client-form h3 {
	padding-top: 20px;
}
    .client-form h3 {
	text-align: center;
}
    .client-logo {
	text-align: center;
}
    
}